@font-face {
  font-family: 'Poppins';
  src:
    url('/src/app/fonts/PoppinsRegular.woff2') format('woff2'),
    url('/src/app/fonts/PoppinsRegular.woff') format('woff'),
    url('/src/app/fonts/PoppinsRegular.eot?#iefix') format('embedded-opentype'),
    url('/src/app/fonts/PoppinsRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src:
    url('/src/app/fonts/PoppinsMedium.woff2') format('woff2'),
    url('/src/app/fonts/PoppinsMedium.woff') format('woff'),
    url('/src/app/fonts/PoppinsMedium.eot?#iefix') format('embedded-opentype'),
    url('/src/app/fonts/PoppinsMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
