.app {
  font: var(--font-m);
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.page-wrapper {
  flex-grow: 1;
}

.el-text-title {
  font: var(--font-l);
}
