.app.light {
  --dark-bg: #ffffff;
  --bg: #eff5f6;
  --light-bg: #e2eef1;
  --text: #141c1f;
  --hint: #adbcc0;
  --cancel: #ff7777;
  --save: #62de85;
  --icon: #5ed3f3;
  --accent: #00c8ff;
  --accent-light: #1ad1ff;
  --accent-dark: #00b4e6;

  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  --code-bg: #fff;

  --card-bg: #d5d5d7;

  --listbox-bg: #d5d5d7;
}
